@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 63%;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', sans-serif ;
    color: #eee;
    background: #222;
    /* background-color: #60b347; */
}

header{
    position: relative;
    height: 35vh;
    border-bottom: 7px solid #eee;
}

